main{
    padding: 10px 20px 10px 20px;
}
body{
    margin: 0;
}
.top{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
}
.h1{
    background-color: black;
    width: 96%;
    height: 30px;
    margin-left: 2%;
}
.h2{
    background-color: black;
    width: 25%;
    height: 40px;
}
.h3{
    background-color: black;
    width: 25%;
    height: 40px;
    margin-left: 8%;
}
.h4{
    background-color: black;
    width: 25%;
    height: 40px;
    margin-left: 8%;
}
.p{
    width: 13%;
    border: 6px solid black;
    padding-top: 20%;
    margin-top: 2%;
    justify-content: center;
}
.h5{
    background-color: black;
    width: 25%;
    height: 100px;
    margin-top: 2%;
    margin-right: 5%;
}
.h6{
    background-color: black;
    width: 25%;
    height: 100px;
    margin-right: 5%;
    margin-left: 3%;
    margin-top: 2%;
}
.h7{
    background-color: black;
    width: 25%;
    height: 100px;
    margin-right: 5%;
    margin-left: 3%;
    margin-top: 2%;
}
.h8{
    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 10px;
    margin-top: 1%;
    margin-right: 5%;
}
.h9{
    background-color: black;
    width: 25%;
    height: 10px;
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 3%;
}
.h10{
    background-color: black;
    width: 25%;
    height: 10px;
    margin-right: 5%;
    margin-top: 1%;
    margin-left: 3%;
}
.h11{
    background-color: black;
    width: 18%;
    height: 10px;
    margin-right: 0.0001%;
    margin-top: 1%;
    
}
.h12{
    background-color: black;
    width: 6%;
    height: 10px;
    margin-top: 1%;
    margin-left: 1%;
}
.h13{
    background-color: black;
    width: 18%;
    height: 10px;
    margin-right: 0.0001%;
    margin-top: 1%;
    margin-left: 8%;
}
.h14{
    background-color: black;
    width: 6%;
    height: 10px;
    margin-top: 1%;
    margin-left: 1%;
}
.h15{
    background-color: black;
    width: 18%;
    height: 10px;
    margin-right: 0.0001%;
    margin-top: 1%;
    margin-left: 8%;
}
.h16{
    background-color: black;
    width: 6%;
    height: 10px;
    margin-top: 1%;
    margin-left: 1%;
}
.ct{
    background-color: black;
    margin-top: 2%;
    height: 10px;
    margin-bottom: 2%;
    width: 91%;
}
.l{
    background-color: black;
    margin-top: 2%;
    width: 100%;
    height: 100px;
    width: 91%;
}
.left{
    width: 60%;
    height: 800px;
    margin-top: 2%;
}
.Rigth{
    width: 40%;
    height: 300px;
    margin-top: 2%;
}
.left1{
    width: 60%;
    height: 800px;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.Rigth1{
    border: 1px solid black;
    width: 40%;
    height: 300px;
    margin-top: 2%;
    margin-right: 2%;
}
.b1{
    background-color: black;
    width: 70%;
    height: 297px;
}
.b2{
    background-color: black;
    width: 70%;
    height: 30px;
    margin-top: 2%;
}
.b3{
    background-color: black;
    width: 20%;
    height: 80px;
    margin-top: 2%;
}
.b4{
    background-color: black;
    width: 70%;
    height: 10px;
    margin-top: 2%;
}
.en{
    background-color: black;
    width: 100%;
    height: 10px;
}
